<div class='app-main'>
  <header>
    <mat-toolbar color="primary" class="header">
      <span>Puzzle Around the World</span>
    </mat-toolbar>
  </header>

  <app-puzzles></app-puzzles>

  <!-- TODO: 
        If answer is correct, next button should be visible
        Clicking this should navigate to next puzzle
        previous button is always visible (except at first puzzle)
        Clicking this should navigate to previous puzzle
    -->

  <footer>
    <mat-toolbar class='footer'>
      <span>Version: {{ version }}</span>
    </mat-toolbar>
  </footer>
</div>