.app-main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

app-puzzle {
    flex: 1;
    margin: 16px;
}

.footer {
    height: 32px;
    font-size: 16px;
    justify-content: flex-end;
}