<div *ngIf="puzzles.length" class="puzzles-div" fxLayout="column" fxLayoutAlign="space-between start" >
    <!-- <app-puzzle [puzzleId]='pageIndex' [puzzleTemplate]="puzzleTemplates[pageIndex]" [answer]="puzzleAnswers[pageIndex]"></app-puzzle> -->
    <app-puzzle [puzzle]="puzzles[pageIndex]"></app-puzzle>
    <div fxLayout="row">
        <ng-container>
            <button [disabled]="pageIndex === 0" mat-raised-button color="accent" (click)="onPrevious()">Vorige</button>
        </ng-container>
        <ng-container *ngIf="pageIndex < puzzles.length - 1">
            <button class='button-next' mat-raised-button color="primary" [disabled]="!puzzleSolved" (click)="onNext()">Volgende</button>
        </ng-container>
    </div>
</div>

<ng-template #puzzle1>
    Welkom bij Puzzle Around the World! Wij zijn geïnspireerd door <a href="https://www.nieuwutrechtstoneel.nl/speurtocht/">Greg's Grote Online Speurtocht</a> (tip!).<br>
    Om de antwoorden te vinden moet je gebruik maken van Google en Google Maps (en Streetview). <br>
    We hopen met deze puzzels een leuke uitdaging te bieden in deze tijden van sociale isolatie. 😄<br><br>

    Voor de eerste vraag beginnen we met een <b>Spaans</b> thema. <br>
    Welke stad ontbreekt uit het volgende rijtje? We hopen dat je een munt uit de volgende hints kan slaan:
    
    <ol>
        <li>Eén van de grootste metropolen ter wereld, wat resulteert in 2500 overstekende mensen per groen licht.</li>
        <li>Een Amerikaanse president identificeerde zich met deze stad.</li>
        <li>Niet de Kia maar de stad.</li>
        <li>Geboortestad van een nobelprijswinnaar voor economie en naamgenoot van een Nederlandse televisie producent.</li>
        <li>In het jaar na Lordi, werd hier met Water gewonnen.</li>
        <li>Door deze hoofdstad loopt een rivier met dezelfde naam. Daarnaast heeft deze stad een stedenband met stad nummer 4.</li>
        <li>In 1812 kwam deze stad in handen van de Fransen, maar doordat de inwoners ervan de stad in brand staken, trokken zij zich snel terug.</li>  
    </ol>

</ng-template>

<ng-template #puzzle1_hint1>
    <img src="/assets/puzzle1_hint1.jpeg" alt="Salvador Dalí" style="max-width: 10%; position: fixed; top: 128px; left: 800px">
</ng-template>

<ng-template #puzzle1_hint2>
    De steden hinten naar de verschillende personages van de eerste serie van Casa de Papel. 
</ng-template>

<ng-template #puzzle2>
    In Oslo komen we aan met de trein aan op het centraal station.
    Als we uit het station komen, lopen we links langs het reuzenrad, steken de trambaan over en gaan een stukje verder rechtsaf de straat van Charles en William in.
    De straat gaat over in een “bankactie” en we slaan linksaf bij de ontdekker van de Zuidpool.
    We lopen door het park van Amalia naar het zuiden en steken nogmaals de trambaan over richting het water.
    Alhier stappen we op de meest rechtse veerlijn.
    Na aankomst bezoeken we het museum in de vorm van een kruis, stappen in één van de boten en gaan ruim 1000 jaar terug in de tijd.
    Met een bekende ontdekkingsreiziger uit die tijd reizen we naar het westen, tot we voet aan nieuw land zetten. <br><br>
    Waar doen we dit? 
</ng-template>

<ng-template #puzzle2_hint1>
    De boot die we nemen, vertrekt van de Raadhuisbrug.
</ng-template>

<ng-template #puzzle2_hint2>
    De ontdekkingsreiziger heeft dezelfde achternaam als een oude Zweedse telefonie gigant.
</ng-template>

<ng-template #puzzle3>
    Vanuit L'Anse aux Meadows nemen we de 436, gaan rechtsaf bij 430 en opnieuw rechtsaf op Esdoornblad 1 naar de zuidkust van het eiland.
    Bij de haven van het stadje van de makers van nummer 5 van de Basken gaan we aan boord naar de stad met zonder Operahuis.
    Vanuit hier nemen we achtereenvolgens Esdoornblad 105 en 104 tot we voorbij een nieuwe versie van een stad in de naamgever van dit schiereiland rijden.
    Daar slaan we af naar de volgende Esdoornweg.
    In de stad met dezelfde fonetische naam als een café aan de Oudenoord in Utrecht gaan we weer aan boord naar de boseilanden.
    Aldaar aangekomen kijken we eens goed rond op dit eiland.
    Dat we net aan Utrecht refereerden is niet gek, want op dit eiland gaan we op zoek naar een muziekband uit Utrecht.
    Hier aangekomen maken we een transfer naar een veel bekendere straat met dezelfde naam als één van de wegen die dit stadje doorkruist. <br><br>
    In welke stad zijn we nu aangekomen? 
</ng-template>

<ng-template #puzzle3_hint1>
    Cryptisch en iets anders geschreven, wat is bekend geworden van no 5?
</ng-template>

<ng-template #puzzle4>
    Hier op Broadway komen we er natuurlijk niet onderuit om een musical te bezoeken.
    De musical die wij bezoeken, is gebaseerd op een verhaal uit 1001 nacht, heeft de boodschap dat het niet gaat om rijkdom en status maar juist om het innerlijk en heeft sinds kort een beetje Nederlands randje.
    Na de musical gaan we een paar huizen verderop in de straat nog wat sterren spotten (loop met Streetview door het museum.)
    Tussen alle grote Amerikaanse filmsterren zijn we nu op zoek naar de geboorteplaats van de ster bovenop de fontein.
    Ook in deze plaats bezoeken we een museum ten zuiden van de International Cruise Ship Terminal. <br><br>
    Welk getal staat op het grote grijze gebouw geschreven?
</ng-template>

<ng-template #puzzle4_hint1>
    Het gaat om één van de bekendste dragqueens van Amerika.
</ng-template>

<ng-template #puzzle4_hint2>
    Hij heeft zelfs een speciale race voor dragqueens georganiseerd.
</ng-template>

<ng-template #puzzle5>
    Vanaf het USS Midway Museum kapen wij geheel in gangsterstyle een helikopter en vliegen naar het land van de misdadiger die het voor elkaar kreeg om tweemaal (!) met een heli uit dezelfde gevangenis te ontsnappen. 
    Aldaar zoeken we een fictief, letterlijk zomereiland op.
    We beklimmen de top voor een prachtig uitzicht over een baai en pittoresk kerkje.
    Maar voor het vervolg moeten we toch een ander eiland opzoeken.
    Op dit eiland komen we aan in de hoofdstad (met dezelfde naam als het eiland) en na een lekker visje te hebben gegeten in de haven, rijden we langs de kust naar het noorden.
    We passeren een halve ronde toren en rijden verder tot we een inham zien met een imposant bouwwerk en verleden. <br><br>
    Wat is de naam van dit bouwwerk? 
</ng-template>

<ng-template #puzzle5_hint1>
    Het gaat om een filmeiland, en we zijn op zoek naar het eiland waar deze film is opgenomen.
</ng-template>

<ng-template #puzzle5_hint2>
    Dit is heel letterlijk: namelijk het vervolg van de film. En dus ook het vervolg van onze puzzeltocht.
</ng-template>

<ng-template #puzzle6>
    Oorlogen worden niet alleen uitgevochten op het slagveld, misschien nog wel belangrijker is om de juiste informatie te onderscheppen.
    Om dit te voorkomen wordt vaak gebruik gemaakt van cryptische coderingen.
    Hieronder wordt gezocht naar 3 getallen, die samen de cryptische aanwijzing voor de volgende stad vormen.

    <ol>
        <li>Op de zoveelste dag van de maand juli 1991 werd een akkoord getekend, dat uiteindelijk resulteerde in de onafhankelijkheid van Slovenië.</li>
        <li>De laatste slag die er uiteindelijk voor zorgde dat Noord- en Zuid-Vietnam weer werden verenigd vond plaats op zoveelste dag van de maand april.</li>
        <li>In het jaar 19.. werd Abessinië binnengevallen door een Europees land, dat als doel had een groot rijk te leiden met de Middellandse Zee als binnenmeer.</li>
    </ol>

    In deze stad bezoeken we het museum (en tegelijk de gedenkplaats) van de meest bekende oorlog van het land. <br><br>
    Hoe heet dit museum?
</ng-template>

<ng-template #puzzle6_hint1>
    Pak een oude rekenmachine en voer daar de cijfers in.
</ng-template>

<ng-template #puzzle6_hint2>
    Draai de rekenmachine om. 
</ng-template>

<ng-template #puzzle7>
    Als ik aan Zuid-Korea denk, moet ik ook altijd denken aan de specifieke muzieksmaak van de Koreanen.
    Ze hebben zelfs een eigen muziekstijl ontwikkeld in dit land: K-pop.
    Hieronder staan namen van artiesten die bekend zijn voor een bepaalde muziekstijl (hint 1).
    Als je de juiste letters gebruikt, komt je terecht op de volgende locatie. 

    <ol type="A">
        <li>Anna Kendrick en Rebel Wilson (hint 2)</li>
        <li>Ray Charles en BB King</li>
        <li>Dr. Alban en 2 Brothers on the 4th Floor</li>
        <li>Johnny Cash en Ilse DeLange</li>
        <li>R Kelly en Rihanna</li>
        <li>Andrea Bocelli en Tania Kross</li>
        <li>Bee Gees en ABBA</li>
    </ol> 

    A1B1E3C1D7 E1F1F5G1 
    <br><br>
    Wat is de bekende plek op deze locatie? 

</ng-template>

<ng-template #puzzle7_hint1>
    Zoek de betreffende artiesten op Wikipedia, daar staan de genres van de verschillende artiesten.
    Het gaat om de overeenkomende muziekstijlen (en in een enkel geval om de meest logische).
</ng-template>

<ng-template #puzzle7_hint2>
    Ze speelden samen in een film (+2 vervolgen) en zongen hierin veel liedjes in deze stijl.
</ng-template>

<ng-template #puzzle8>
    Vanaf Abbey Road slaan we links af het grove einde in en nemen bij het bos van Sint-Jan de jubileum lijn richting het zuiden.
    Bij de halte na de Bakkerstraat stappen we alweer uit (hint 1), en lopen de Coevorden Straat op richting het oosten.
    We kiezen het hazenpad, wat overgaat in het gevolg van het geschudde drankje dat we even gaan nuttigen onder het Mimosa huis.
    Na deze onderbreking gaan we terug naar Coevorden Straat en lopen nog iets verder richting het oosten tot het ondergrondse circus.
    Hier nemen we de lijn van de bekende koningin naar het zuiden en stappen uit zodra we de rivier gepasseerd zijn.
    Hier lopen we een klein stukje terug de brug op naar het noorden om eens goed te kijken naar het gebouw wat zich nu rechts achter ons ligt. 
    <br><br>
    Komt het je bekend voor? Er is een vrij populaire film waar dit gebouw in het bijzonder het flink te verduren krijgt. De eindbestemming van deze opdracht is dezelfde als mooie locatie aan het einde van dezelfde film (hint 2).  
    <br><br>
    Het antwoord dat je zoekt is de naam van de aangrenzende rivier. 
</ng-template>

<ng-template #puzzle8_hint1>
    De lijn lijkt net langs deze halte te lopen, maar als je er op klikt, zie je dat de lijn hier daadwerkelijk stopt.
</ng-template>

<ng-template #puzzle8_hint2>
    Zoek in Google Maps naar de titel van de film en je vindt een schitterende locatie in een nabijgelegen land. 
</ng-template>