<div class="puzzles-div" fxLayout="column" fxLayoutAlign="space-between start" >
    <app-puzzle [puzzleId]='pageIndex' [puzzleTemplate]="puzzleTemplates[pageIndex]" [answer]="puzzleAnswers[pageIndex]"></app-puzzle>

    <div fxLayout="row">
        <ng-container *ngIf="pageIndex > 0">
            <button mat-raised-button color="accent" (click)="onPrevious()">Vorige</button>
        </ng-container>
        <ng-container *ngIf="pageIndex < nPuzzles - 1">
            <button class='button-next' mat-raised-button color="primary" [disabled]="!puzzleSolved" (click)="onNext()">Volgende</button>
        </ng-container>
    </div>
</div>

<ng-template #puzzle1>
    Welkom bij Puzzle Around the World! Wij zijn geïnspireerd door <a href="https://www.nieuwutrechtstoneel.nl/speurtocht/">Greg's Grote Online Speurtocht</a> (tip!).<br>
    Om de antwoorden te vinden moet je gebruik maken van Google en Google Maps (en Streetview). <br>
    We hopen met deze puzzels een leuke uitdaging te bieden in deze tijden van sociale isolatie. 😄<br><br>

    Voor de eerste vraag beginnen we met een <b>Spaans</b> thema. <br>
    Welke stad ontbreekt uit het volgende rijtje? We hopen dat je een munt uit de hints kan slaan.  
    
    <ol>
        <li>Eén van de grootste metropolen ter wereld, wat resulteert in 2500 overstekende mensen per groen licht.</li>
        <li>Een Amerikaanse president identificeerde zich met deze stad.</li>
        <li>Niet de Kia maar de stad.</li>
        <li>Geboortestad van een nobelprijswinnaar voor economie en naamgenoot van een Nederlandse televisie producent.</li>
        <li>In het jaar na Lordi, werd hier met Water gewonnen.</li>
        <li>Door deze hoofdstad loopt een rivier met dezelfde naam. Daarnaast heeft deze stad een stedenband met de stad nummer 4.</li>
        <li>In 1812 kwam deze stad in handen van de Fransen, maar doordat de inwoners ervan de stad in brand staken, trokken zij zich snel terug.</li>  
    </ol>
</ng-template>

<ng-template #puzzle2>
    We komen met de trein aan op het centraal station.
    Als we uit het station komen, lopen we links langs het reuzenrad, steken de trambaan over en gaan een stukje verder rechtsaf de straat van Charles en William in.
    De straat gaat over in een “bankactie” en we slaan linksaf bij de ontdekker van de Zuidpool.
    We lopen door het park van Amalia naar het zuiden en steken nogmaals de trambaan over richting het water.
    Alhier stappen we op de meest rechtse veerlijn.
    Na aankomst bezoeken we het museum in de vorm van een kruis, stappen in één van de boten en gaan ruim 1000 jaar terug in de tijd.
    Met een bekende ontdekkingsreiziger uit die tijd reizen we naar het westen, tot we voet aan nieuw land zetten. <br><br>
    Waar doen we dit? 
</ng-template>

<ng-template #puzzle3>
    We nemen de 436, gaan rechtsaf bij 430 en opnieuw rechtsaf op Esdoornblad 1 naar de zuidkust van het eiland.
    Bij de haven van het stadje van de makers van nummer 5 van de Basken gaan we aan boord naar de stad met zonder Operahuis.
    Vanuit hier nemen we achtereenvolgens Esdoornblad 105 en 104 tot we voorbij een nieuwe versie van een stad in de naamgever van dit schiereiland rijden.
    Daar slaan we af op de volgende Esdoornweg.
    In de stad met dezelfde fonetische naam als een café aan de Oudenoord in Utrecht gaan we weer aan boord naar de boseilanden.
    Aldaar aangekomen kijken we eens goed rond op dit eiland.
    Dat we net aan Utrecht refereerden is niet gek, want op dit eiland gaan we op zoek naar een muziekband uit Utrecht.
    Hier aangekomen maken we een transfer naar een veel bekendere straat met dezelfde naam als één van de wegen die dit stadje doorkruist. <br><br>
    In welke stad zijn we nu aangekomen? 
</ng-template>

<ng-template #puzzle4>
    Alhier komen we er natuurlijk niet onderuit om een musical te bezoeken.
    De musical die wij bezoeken, is gebaseerd op een verhaal uit 1001 nacht, heeft de boodschap dat het niet gaat om rijkdom en status maar juist om het innerlijk en heeft sinds kort een beetje Nederlands randje.
    Na de musical gaan we een paar huizen verderop in de straat nog wat sterren spotten.
    Tussen alle grote Amerikaanse filmsterren zijn we nu op zoek naar de geboorteplaats van de ster bovenop de fontein.
    Ook in deze plaats bezoeken we een museum ten zuiden van de International Cruise Ship Terminal. <br><br>
    Welk getal staat op het grote grijze gebouw geschreven?
</ng-template>

<ng-template #puzzle5>
    Geheel in gangsterstyle kapen we hier een helikopter en vliegen naar het land van de misdadiger die het voor elkaar kreeg om tweemaal (!) met een heli uit dezelfde gevangenis te ontsnappen. 
    Aldaar zoeken we een fictief, letterlijk zomereiland op.
    We beklimmen de top voor een prachtig uitzicht over een baai en pittoresk kerkje.
    Maar voor het vervolg moeten we toch een ander eiland opzoeken.
    Op dit eiland komen we aan in de hoofdstad (met dezelfde naam als het eiland) en na een lekker visje te hebben gegeten in de haven, rijden we langs de kust naar het noorden.
    We passeren een halve ronde toren en rijden verder tot we een inham zien met een bijzonder bouwwerk en verleden. <br><br>
    Wat is de naam van dit bouwwerk? 
</ng-template>

<ng-template #puzzle6>
    Oorlogen worden niet alleen uitgevochten op het slagveld, misschien nog wel belangrijker is om de juiste informatie te onderscheppen.
    Om dit te voorkomen wordt vaak gebruik gemaakt van cryptische coderingen.
    Hieronder wordt gezocht naar 3 getallen, die samen de cryptische aanwijzing voor de volgende stad vormen.

    <ol>
        <li>Op de zoveelste dag van de maand juli 1991 werd een akkoord getekend, dat uiteindelijk resulteerde in de onafhankelijkheid van Slovenië.</li>
        <li>De laatste slag die er uiteindelijk voor zorgde dat Noord- en Zuid-Vietnam weer werden verenigd vond plaats op zoveelste dag van de maand april.</li>
        <li>In het jaar 19.. werd Abessinië binnengevallen door een Europees land, dat als doel had een groot rijk te leiden met de Middellandse Zee als binnenmeer.</li>
    </ol>

    In deze stad bezoeken we het museum (en tegelijk de gedenkplaats) van de meest bekende oorlog van het land. <br><br>
    Hoe heet dit museum?
</ng-template>
