<div *ngIf="puzzles.length" class="puzzles-div" fxLayout="column" fxLayoutAlign="space-between start" >
    <!-- <app-puzzle [puzzleId]='pageIndex' [puzzleTemplate]="puzzleTemplates[pageIndex]" [answer]="puzzleAnswers[pageIndex]"></app-puzzle> -->
    <app-puzzle [puzzle]="puzzles[pageIndex]"></app-puzzle>
    <div fxLayout="row">
        <ng-container>
            <button [disabled]="pageIndex === 0" mat-raised-button color="accent" (click)="onPrevious()">Vorige</button>
        </ng-container>
        <ng-container>
            <button class='button-next' mat-raised-button color="primary" [disabled]="!puzzleSolved || pageIndex >= puzzles.length - 1" (click)="onNext()">Volgende</button>
        </ng-container>
        <ng-container *ngIf="pageIndex >= puzzles.length - 1 && puzzleSolved">
            <div class='end-div'>
                Gefeliciteerd, je hebt het gehaald! Nieuwe puzzels volgen snel weer...
            </div>
        </ng-container>
    </div>
</div>

<ng-template #puzzle1>
    Welkom bij Puzzle Around the World! Wij zijn geïnspireerd door <a href="https://www.nieuwutrechtstoneel.nl/speurtocht/">Greg's Grote Online Speurtocht</a> (tip!).<br>
    Om de antwoorden te vinden moet je gebruik maken van Google en Google Maps (en Streetview). <br>
    We hopen met deze puzzels een leuke uitdaging te bieden in deze tijden van sociale isolatie. 😄<br><br>

    Voor de eerste vraag beginnen we met een <b>Spaans</b> thema. <br>
    Welke stad ontbreekt uit het volgende rijtje? We hopen dat je een munt uit de volgende hints kan slaan:
    
    <ol>
        <li>Eén van de grootste metropolen ter wereld, wat resulteert in 2500 overstekende mensen per groen licht.</li>
        <li>Een Amerikaanse president identificeerde zich met deze stad.</li>
        <li>Niet de Kia maar de stad.</li>
        <li>Geboortestad van een nobelprijswinnaar voor economie en naamgenoot van een Nederlandse televisie producent.</li>
        <li>In het jaar na Lordi, werd hier met Water gewonnen.</li>
        <li>Door deze hoofdstad loopt een rivier met dezelfde naam. Daarnaast heeft deze stad een stedenband met stad nummer 4.</li>
        <li>In 1812 kwam deze stad in handen van de Fransen, maar doordat de inwoners ervan de stad in brand staken, trokken zij zich snel terug.</li>  
    </ol>

</ng-template>

<ng-template #puzzle1_hint1>
    <img src="assets/puzzle1_hint1.jpeg" alt="Salvador Dalí" style="max-width: 10%; position: fixed; top: 128px; left: 800px">
</ng-template>

<ng-template #puzzle1_hint2>
    De steden hinten naar de verschillende personages van de eerste serie van Casa de Papel. 
</ng-template>

<ng-template #puzzle2>
    In Oslo komen we aan met de trein op het centraal station.
    Als we uit het station komen, lopen we links langs het reuzenrad, steken de trambaan over en gaan een stukje verder rechtsaf de straat van Charles en William in.
    De straat gaat over in een “bankactie” en we slaan linksaf bij de ontdekker van de Zuidpool.
    We lopen door het park van Amalia naar het zuiden en steken nogmaals de trambaan over richting het water.
    Alhier stappen we op de meest rechtse veerlijn (hint 1).
    Na aankomst bezoeken we het museum in de vorm van een kruis, stappen in één van de boten en gaan ruim 1000 jaar terug in de tijd.
    Met een bekende ontdekkingsreiziger (hint 2) uit die tijd reizen we naar het westen, tot we voet aan nieuw land zetten.
    <br><br>
    Waar doen we dit?
</ng-template>

<ng-template #puzzle2_hint1>
    De boot die we nemen, vertrekt van de Raadhuisbrug.
</ng-template>

<ng-template #puzzle2_hint2>
    De ontdekkingsreiziger heeft dezelfde achternaam als een oude Zweedse telefonie gigant.
</ng-template>

<ng-template #puzzle3>
    Vanuit L'Anse aux Meadows nemen we de 436, gaan rechtsaf bij 430 en opnieuw rechtsaf op Esdoornblad 1 naar de zuidkust van het eiland.
    Bij de haven van het stadje van de makers van nummer 5 (hint 1) van de Basken gaan we aan boord naar de stad met zonder Operahuis.
    Vanuit hier nemen we achtereenvolgens Esdoornblad 105 en 104 tot we voorbij een nieuwe versie van een stad in de naamgever van dit schiereiland rijden.
    Daar slaan we af op de volgende Esdoornweg.
    In de stad met dezelfde fonetische naam als een café aan de Oudenoord in Utrecht gaan we weer aan boord naar de boseilanden.
    Aldaar aangekomen kijken we eens goed rond op dit eiland.
    Dat we net aan Utrecht refereerden is niet gek, want op dit eiland gaan we op zoek naar een muziekband uit Utrecht.
    Hier aangekomen maken we een transfer naar een veel bekendere straat met dezelfde naam als één van de wegen die dit stadje doorkruist.
    In welke stad zijn we nu aangekomen?
</ng-template>

<ng-template #puzzle3_hint1>
    Cryptisch en iets anders geschreven, wat is bekend geworden van no 5?
</ng-template>

<ng-template #puzzle4>
    Hier op Broadway komen we er natuurlijk niet onderuit om een musical te bezoeken.
    De musical die wij bezoeken, is gebaseerd op een verhaal uit 1001 nacht, heeft de boodschap dat het niet gaat om rijkdom en status maar juist om het innerlijk en heeft sinds kort een beetje Nederlands randje.
    Na de musical gaan we een paar huizen verderop in de straat nog wat sterren spotten.
    Loop met streetview door het museum.
    Tussen alle grote Amerikaanse filmsterren zijn we nu op zoek naar de geboorteplaats van de ster bovenop de fontein (hint 1 en 2).
    Ook in deze plaats bezoeken we een museum ten zuiden van de International Cruise Ship Terminal.  <br><br>
    Welk getal staat op het grote grijze gebouw geschreven?
</ng-template>

<ng-template #puzzle4_hint1>
    Het gaat om één van de bekendste dragqueens van Amerika.
</ng-template>

<ng-template #puzzle4_hint2>
    Hij heeft zelfs een speciale race voor dragqueens georganiseerd.
</ng-template>

<ng-template #puzzle5>
    Vanaf het USS Midway Museum kapen wij geheel in gangsterstyle een helikopter en vliegen naar het land van de misdadiger die het voor elkaar kreeg om tweemaal (!) met een heli uit dezelfde gevangenis te ontsnappen.
    Aldaar zoeken we een fictief, letterlijk zomereiland op (hint 1).
    We beklimmen de top voor een prachtig uitzicht over een baai en pittoresk kerkje.
    Maar voor het vervolg (hint 2) moeten we toch een ander eiland opzoeken.
    Op dit eiland komen we aan in de hoofdstad (met dezelfde naam als het eiland) en na een lekker visje te hebben gegeten in de haven, rijden we langs de kust naar het noorden.
    We passeren een halve ronde toren aan onze rechterhand en rijden verder tot we een inham zien met een bijzonder bouwwerk en verleden.
    Wat is de naam van dit bouwwerk? 
</ng-template>

<ng-template #puzzle5_hint1>
    Het gaat om een filmlocatie, we zijn op zoek naar het eiland waar deze film is opgenomen.
</ng-template>

<ng-template #puzzle5_hint2>
    Dit is heel letterlijk: namelijk het vervolg van de film. En dus ook het vervolg van onze puzzeltocht.
</ng-template>

<ng-template #puzzle6>
    Oorlogen worden niet alleen uitgevochten op het slagveld, misschien nog wel belangrijker is om de juiste informatie te onderscheppen.
    Om dit te voorkomen wordt vaak gebruik gemaakt van cryptische coderingen.
    Hieronder wordt gezocht naar 3 getallen, die samen de cryptische aanwijzing voor de volgende stad vormen (hint 1 en 2).

    <ol>
        <li>Op de zoveelste dag van de maand juli 1991 werd een akkoord getekend, dat uiteindelijk resulteerde in de onafhankelijkheid van Slovenië.</li>
        <li>De laatste slag die er uiteindelijk voor zorgde dat Noord- en Zuid-Vietnam weer werden verenigd vond plaats op zoveelste dag van de maand april.</li>
        <li>In het jaar 19.. werd Abessinië binnengevallen door een Europees land, dat als doel had een groot rijk te leiden met de Middellandse Zee als binnenmeer.</li>
    </ol>

    In deze stad bezoeken we het museum (en tegelijk de gedenkplaats) van de meest bekende oorlog van het land. <br><br>
    Hoe heet dit museum?
</ng-template>

<ng-template #puzzle6_hint1>
    Pak een oude rekenmachine en voer daar de cijfers in.
</ng-template>

<ng-template #puzzle6_hint2>
    Draai de rekenmachine om. 
</ng-template>

<ng-template #puzzle7>
    Als ik aan Zuid-Korea denk, moet ik ook altijd denken aan de specifieke muzieksmaak van de Koreanen.
    Ze hebben zelfs een eigen muziekstijl ontwikkeld in dit land: K-pop.
    Hieronder staan namen van artiesten die bekend zijn voor een bepaalde muziekstijl (hint 1).
    Als je de juiste letters gebruikt, komt je terecht op de volgende locatie. 

    <ol type="A">
        <li>Anna Kendrick en Rebel Wilson (hint 2)</li>
        <li>Ray Charles en BB King</li>
        <li>Dr. Alban en 2 Brothers on the 4th Floor</li>
        <li>Johnny Cash en Ilse DeLange</li>
        <li>R Kelly en Rihanna</li>
        <li>Andrea Bocelli en Tania Kross</li>
        <li>Bee Gees en ABBA</li>
    </ol> 

    A1B1E3C1D7 E1F1F5G1 
    <br><br>
    Wat is de bekende plek op deze locatie? 

</ng-template>

<ng-template #puzzle7_hint1>
    Zoek de betreffende artiesten op Wikipedia, daar staan de genres van de verschillende artiesten.
    Het gaat om de overeenkomende muziekstijlen (en in een enkel geval om de meest logische).
</ng-template>

<ng-template #puzzle7_hint2>
    Ze speelden samen in een film (+2 vervolgen) en zongen hierin veel liedjes in deze stijl.
</ng-template>

<ng-template #puzzle8>
    Vanaf Abbey Road slaan we links af het grove einde in en nemen bij het bos van Sint-Jan de jubileum lijn richting het zuiden.
    Bij de halte na de Bakkerstraat stappen we alweer uit (hint 1), en lopen de Coevorden Straat op richting het oosten.
    We kiezen het hazenpad, wat overgaat in het gevolg (-g) van het geschudde drankje dat we even gaan nuttigen onder het Mimosa huis.
    Na deze onderbreking gaan we terug naar Coevorden Straat en lopen nog iets verder richting het oosten tot het ondergrondse circus.
    Hier nemen we de lijn van de bekende koningin naar het zuiden en stappen uit zodra we de rivier gepasseerd zijn.
    Hier lopen we een klein stukje terug de brug op naar het noorden om eens goed te kijken naar het gebouw dat zich nu rechts achter ons ligt. 
    <br><br>
    Komt het je bekend voor? Er is een vrij populaire film waar dit gebouw in het bijzonder het flink te verduren krijgt. De eindbestemming van deze opdracht is dezelfde als een mooie locatie aan het einde van dezelfde film (hint 2).  
    <br><br>
    Het antwoord dat je zoekt is de naam van de aangrenzende rivier. 
</ng-template>

<ng-template #puzzle8_hint1>
    De lijn lijkt net langs deze halte te lopen, maar als je er op klikt, zie je dat de lijn hier daadwerkelijk stopt.
</ng-template>

<ng-template #puzzle8_hint2>
    Zoek in Google Maps naar de titel van de film en je vindt een schitterende locatie in een nabijgelegen land. 
</ng-template>

<ng-template #puzzle9>
    Na te hebben genoten van het prachtige uitzicht nemen we de weg richting het noordoosten.
    We rijden langs de bekende waterval van deze rivier.
    Net na het bruggetje staat links een bordje.
    Wat staat hierop?

    <ol type="A">
        <li>Passeerplaats -> Ga straks op de hoofdweg naar links.</li>
        <li>Je hebt voorrang op tegenliggers -> Ga straks op de hoofdweg naar rechts.</li>
    </ol>

    We rijden een klein kwartiertje verder tot we bij een stadje komen en de weg langs het water gaat lopen.
    Waar verwijst dit water naar?

    <ol type="A">
        <li>Leven -> Neem bij de rotonde verderop de eerste afslag.</li>
        <li>Dood -> Neem bij de rotonde verderop de tweede afslag.</li>
    </ol>

    Vanaf de rotonde (hint 1) rijden we 16 mijl, passeren een imposante berg en komen dan bij het volgende stadje aan (hiervoor moeten we wel even linksaf bij de destilleerder vernoemd naar de berg).
    In het stadje bevindt zich een goddelijke trap.
    Voor wie is die trap gemaakt? 

    <ol type="A">
        <li>Goden -> We rijden naar het westen op de A830.</li>
        <li>Mensen -> We beklimmen de berg die we net gepasseerd zijn.</li>
        <li>Boten -> We gaan terug naar de weg waar we vandaan kwamen en rijden verder in noordelijke richting.</li>
    </ol>

    Bij de kruising met de volgende hoofdweg (hint 2) rijden we achter de auto aan met de rode kano op het dak.
    We slaan NIET af bij de drie statige, stalen mannen en rijden een kleine 20 minuten door op de hoofdweg.
    Bij de splitsing die hier volgt merken we dat de tank langzaam leeg begint te raken, dus gooien hem vol en rijden verder op de weg die we waren ingeslagen.
    We rijden snel door want we beginnen de eindbestemming van deze opdracht te naderen.
    Als we weer tegen een groot (en bekend) meer aanrijden, komen we ook een stadje tegen.
    De eindbestemming van deze opdracht is een café in dit stadje, maar welk café is het?
    Je komt er door in de juiste maand op visite te gaan.

    <ol type="A">
        <li>Juni -> We gaan met de bocht van de hoofdweg mee naar links, twee bruggen over en direct na de supermarkt en benzinestation links zit het café.</li>
        <li>Juli -> We slaan bij de bocht van de hoofdweg af (Glendoe Rd), gaan voor de kerk naar links en rijden helemaal door tot het water voor het café.</li>
        <li>Augustus -> We gaan met de bocht van de hoofdweg mee naar links, na het eerste bruggetje rechtsaf en het café zit aan de linkerhand.</li>
    </ol>

    Bij welk cafeetje ben je terecht gekomen?
</ng-template>

<ng-template #puzzle9_hint1>Let op, men rijdt hier links!</ng-template>
<ng-template #puzzle9_hint2>De afslagen die op de verschillende plekken worden beschreven, zijn over het algemeen alleen grotere kruisingen, behalve als anders beschreven.</ng-template>

<ng-template #puzzle10>
    We nemen aan dat je al hebt gezien waar we nu zijn aangekomen.
    Heb je ook gezien dat het streetview poppetje is veranderd in een monstertje?
    Er zijn meer plekken op de wereld waar het poppetje een ander uiterlijk heeft.
    De volgende vragen leiden jullie naar 4 verschillende poppetjes.
    De letters hiervan leiden naar de nieuwe locatie.  

    <ol>
        <li>Liefkozende naam voor het monster waar we nu in veranderd zijn. </li>
        <li>Door 5 vulkanen is dit eiland ontstaan. Wat voor poppetje ben je op dit eiland?</li>
        <li>Ook in Google Maps woont deze koningin in haar paleis. Wij zoeken hierbij naar de langst regerende monarch ter wereld.  </li>
        <li>Eén van de geheimzinnigste plaatsen op aarde (hint 1). Het poppetje verandert in een logisch object, dat je hier helaas niet neer kan zetten.</li>
    </ol>

    A1-C3-B2-D2-?  C4-B5-A6-C2-C5-B10-?  (hint 2)
    <br><br>
    Wat is onze bestemming?
</ng-template>

<ng-template #puzzle10_hint1>
    Deze locatie was laatst nog in het nieuws omdat twee Nederlanders deze locatie wilden 'bestormen'.
</ng-template>

<ng-template #puzzle10_hint2>
    Vind zelf de juiste letters voor de vraagtekens.
</ng-template>

<ng-template #puzzle11>
    We gaan filmlocaties van Lord of the Rings bezoeken op het Noordereiland.
    In een vrijwel rechte lijn gaan we van noord naar zuid.

    <ol>
        <li>We beginnen waar de film natuurlijk ook begint, in een liefelijk en rustig stadje met tweemaal dezelfde lettergrepen, met huisjes met mooie ronde groene deuren.</li>
        <li>De Nederlandse naam van deze berg is een anagram van ‘Hoer gaan’, in LotR staat hij bekend als Mount Doom. Bezoek deze berg.</li>
        <li>De derde fictieve locatie bevindt zich in een regionaal park aan een riviertje met zelfde naam als twee plaatsen waar je langs rijdt als je vanaf Wellington naar het noorden rijdt.</li>
        <li>Vanaf het meer van Ferry aan de zuidkant van het Noordereiland pakken we de boot en volgen de kust naar het oosten. We stoppen bij het hotel dat te koop staat. Dan gaan we 2,5 km landinwaarts, tot we het dodenleger ontmoeten.</li>
    </ol>

    Als je de lijn van de laatste twee locaties doortrekt, waar gaan we dan naar toetoe?  
</ng-template>

<ng-template #puzzle12>
    Japan is het land van de Manga.
    Het wordt beschouwd als een kunstvorm, die van origine nog altijd van rechts naar links wordt gelezen.
    In 1946 is de Manga ontstaan zoals we hem nu kennen, maar voor het echte begin hiervan, moeten we een stuk verder terug in de tijd.
    In de 19e eeuw verscheen een serie boeken over Manga.
    In het jaar dat het eerste boek van deze serie verscheen, werd ook een schrijfster geboren.
    Deze schrijfster heeft dezelfde naam als een Deense balletdansers die ruim 60 jaar later leefde (hint 1).
    Haar gezicht is gebruikt voor een beeld, voor het lichaam stond echter iemand anders model.
    <br><br>
    Waar is zij begraven?
</ng-template>

<ng-template #puzzle12_hint1>
    Het gaat om de meisjesnaam van de schrijfster.
</ng-template>

<ng-template #puzzle13>
    We lopen naar het station aan de zuidwestelijke punt van het Vestre kirkegård.
    Hier nemen we de A naar het zuiden.
    We stappen uit bij de halte vlak na het volgende gymnasium (hint 1).
    We lopen over de 243 naar het water, steken de strandweg van dit stadje over, maar gaan nog voor de privéschool naar rechts.
    Op de strandweg van Rijsel slaan we linksaf en lopen rechtdoor door het parkje, over een bruggetje en eiland. (hint 2)
    Als we nog een bruggetje overgaan, moet je niet schrikken van Oscar.
    Bij de toiletten slaan we linksaf, lopen langs de jagerzee en over de parkeerplaats naar de achterkant van het museum.
    Dergelijke musea heb je over de gehele wereld, met misschien wel de bekendste in New York.
    Degene die wij gaan bezoeken zit in Zuid Afrika. Na een uitgebreid museumbezoek, hebben we wel weer eens een drankje verdiend.
    Dit doen we in een bar met lekkere ligbanken, mooi uitzicht en gele stoeltjes.
    <br><br>
    Hoe heet deze bar? 
</ng-template>

<ng-template #puzzle13_hint1>
    Het 'VOLGENDE gymnasium'
</ng-template>

<ng-template #puzzle13_hint2>
    Rijsel staat ook wel bekend als... 
</ng-template>

<ng-template #puzzle14>
    In Zuid-Afrika komen we natuurlijk niet onder een safari uit, dus we gaan de big five spotten.
    Eén van hen komt dan wel oorspronkelijk uit Zuid-Afrika, je gaat hem hier waarschijnlijk niet tegenkomen.
    En de rest trouwens ook niet. 
    <br>
    Naar wie zijn we op zoek? (Hint 1) 

    <ol>
        <li>Nel Smouk</li>
        <li>Bakker McZurreg</li>
        <li>Zeff Bosje</li>
        <li>Vest Bosje</li>
        <li>Bas Tellig</li>
    </ol>

    We missen nu iemand, die misschien iets minder bekend is, echter zijn organisatie hoort zeker in dit rijtje thuis.
    Van deze persoon zijn we op zoek naar zijn geboorteplaats. (hint 2) 
</ng-template>

<ng-template #puzzle14_hint1>
    De eerste man komt uit Zuid-Afrika, maar brengt zijn tijd nu voornamelijk door in Californië
</ng-template>

<ng-template #puzzle14_hint2>
    De persoon die we zoeken is in 2015 CEO geworden van het bedrijf waar je tijdens deze zoektocht waarschijnlijk veel gebruik van hebt gemaakt.
</ng-template>

<ng-template #puzzle15>
    Voordat we verder reizen, bezoeken we in Madurai het Hindoeïstisch tempelcomplex midden in de stad.
    Na deze indrukwekkende ervaring is het snel tijd voor ons vervolg.
    Via ixm gaan we naar blr, om snel door te reizen naar ktm.
    Met de zangeres van het nummer ter ere van de bruiloft tussen Wimlex en Max gaan we naar de buurt van onze eindbestemming.
    Hiervoor: blr 6 - ixm 4 - ktm 1 - blr 6 - ktm 5 (hint 1).

    <br><br>

    Op deze plek aangekomen is er eigenlijk maar één optie wat we hierna gaan doen.
    Google streetview tot het einde is niet mogelijk, maar we komen een heel eind, tot een dorpje op 5164 meter.
    Om hier te komen lopen we een heel eind achter een man met een blauwe tas aan.
    <br><br>
    Wat is het merk van zijn tas? (hint 2) 
</ng-template>

<ng-template #puzzle15_hint1>
    Het gaat hier om de verschillende steden.
</ng-template>

<ng-template #puzzle15_hint2>
    Het merk is op sommige stukken geblurd, maar op een groot deel van de route wel te lezen. 
</ng-template>

<ng-template #puzzle16>
    Deze opdracht is niet voor angsthazen, want we gaan nu elders berg beklimmen.
    We beginnen bij de kapitein.
    Als je deze locatie hebt gevonden op Maps, kun je met Streetview een verticaal lijntje op.
    Geniet van het adembenemende uitzicht, maar kijk bij hoogtevrees niet naar beneden.
    Als we deze grote jongen hebben bedwongen, gaan we van goud naar zilver, door de bijenkorf met oog voor gelijkheid (hint 1) en uiteindelijk nog wat naar het oosten op zoek naar een haastige bekende berg
    Hier hoeven we gelukkig geen enge capriolen uit te halen voor het goede uitzicht (tip: kijk vooral omhoog).
    Als we hier van rechts naar links kijken, eindigen we bij een grote en bekende stad.
    Na onze laatste beklimming is er maar een logische eindbestemming.
    <br><br>
    Welke locatie in deze stad heeft je uitzicht gemeen? (hint 2) 
</ng-template>

<ng-template #puzzle16_hint1>
    CA - NV - UT - WY
</ng-template>

<ng-template #puzzle16_hint2>
    3 van de 4 van de personen afgebeeld hebben op deze locatie gewoond.
</ng-template>

<ng-template #puzzle17>
    <i>Disclaimer: Af en toe is het wat lastig bewegen door het Witte Huis.
        Ga dan even uit streetview, plaats je poppetje in de kamer waar je naartoe wilde, en je kunt weer verder.</i>
    <br><br>
    Bij het Witte Huis staat de ‘Streetview deur’ wijd open, dus we gaan hier graag even naar binnen voor een rondleiding!
    Vlakbij het Witte Huis kijkt een befaamde president van een afstandje toe op het Capitool.
    We beginnen onze tour bij het schilderij van deze meneer.
    Nadat we dit schilderij hebben bewonderd keren we het onze rug toe en nemen we de rechterdeur naar de aangrenzende kamer.
    In deze kamer hangt een schilderij van een soldaat die het tot generaal en zelfs president schopte (hint 1).
    De hoeveelste president was dit? 10 presidenten later werd het land geregeerd door een grote knuffel.
    Zijn schilderij hangt in een andere kamer op deze verdieping.
    Als we dicht bij zijn portret staan, zakken we door de grond.
    Voor de laatste zoektocht moeten we op zoek naar de echtgenoot van een dame die hier tussen de ramen hangt (hint 2).
    Als we hem uiteindelijk hebben gevonden blijkt dat hij een enigszins bijzondere pose heeft.
    <br><br>
    Wat is de kleur van het voorwerp wat zijn aandacht lijkt te trekken? 
</ng-template>

<ng-template #puzzle17_hint1>
    Deze man is vernoemd naar Odysseus en echt een hele grote!
</ng-template>

<ng-template #puzzle17_hint2>
    Deze man hangt weer op de eerste verdieping, vlak bij de ingang.
</ng-template>

<ng-template #puzzle18>
    We gaan op zoek naar het goud.
    Volgens een oude legende zou het ergens in Zuid-Amerika te vinden moeten zijn.
    Tot diep in de 18e eeuw is door Nederlanders, Fransen en Engelsen gezocht naar deze plek.
    Het is zo’n intrigerende plek dat er ook vele films over gemaakt zijn.
    Zo werd er onder andere een grote animatiefilm gemaakt over de weg naar deze plek.
    Eén van de grootste acteurs in deze film speelde een aantal jaar eerder in een grote vangst (hint 1).
    In deze film speelde hij samen met een (deel van een) bekend gezelschap.
    Dit gezelschap ging eerder op zoek naar een waardevol object, dat zomaar van goud zou kunnen zijn geweest.
    Zij waren niet de enigen die hiernaar zochten, ook een bekende Amerikaanse professor deed een beroemde poging (hint 2).
    <br><br>
    Welke professor is dit? 
</ng-template>

<ng-template #puzzle18_hint1>
    De vis had zelfs een naam.
</ng-template>

<ng-template #puzzle18_hint2>
    Zijn poging is niet alleen beschreven, er is ook een populaire film van gemaakt.
</ng-template>
