<div>
  <div class='header-div'>
    <h2>Opdracht {{puzzle.id + 1}}</h2>
    <mat-icon [matTooltip]='"Dit level is voltooid!"' class='correct-icon' *ngIf="puzzleService.highestCompletedLevel >= puzzle.id">check_circle</mat-icon>
  </div>

  <div>
    <ng-container *ngTemplateOutlet="puzzle.template"></ng-container>
  </div>

  <br>

  <div class='answer-div'>
    <form>
      <mat-form-field class="answer-form-field">
        <mat-label>Antwoord</mat-label>
        <input matInput type="text" [formControl]="userAnswer">
        <mat-icon [matTooltip]='"Correct!"' class="correct-icon" *ngIf="answerFound" matSuffix>check_circle</mat-icon>
      </mat-form-field>
    </form>
  </div>

  <ng-container *ngFor="let hintTemplate of puzzle.hintTemplates; let i = index">
    <div class='hint-div'>
      <button *ngIf="!this.hintsVisible[i]" mat-raised-button color="accent" (click)="this.hintsVisible[i]=true">Hint {{puzzle.hintTemplates.length > 1 ? i + 1 : ''}}</button>
      <ng-container *ngIf="this.hintsVisible[i]">
        <ng-container #hint *ngTemplateOutlet="hintTemplate"></ng-container>
      </ng-container>
    </div>
  </ng-container>

</div>
